<div class="row container-fluid">
	<div class="col-md-12">
		<div class="panel panel-info">
			<div class="panel-heading text-center">
				<h4>Add Expenditure</h4>
			</div>
			<form name="expndForm">
			<div class="panel-body">
				<div class=col-md-6>
					<div class="form-horizontal">
						<div class="form-group">
							<div class="col-sm-offset-2 col-sm-10" data-ng-class = "{
							'has-error': expndForm.eName.$touched && expndForm.eName.$invalid,
							'has-success': expndForm.eName.$valid 
							}">
								<input type="text" class="form-control"
									placeholder="Enter Event Name"
									data-ng-model="expenditure.eventName"
									name="eName"
									data-ng-required = "true"/>
								  <span class = "help-block" 
								  data-ng-show = "expndForm.eName.$error.required && expndForm.eName.$touched">
								  Event Name is required.
								  </span>
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-offset-2 col-sm-10" data-ng-class = "{
							'has-error': expndForm.amountExp.$touched && expndForm.amountExp.$invalid || expndForm.amountExp.$error.pattern,
							'has-success': expndForm.eName.$valid 
							}">
								<input type="text" class="form-control"
									placeholder="Enter Amount Expended"
									data-ng-model="expenditure.amountExpended"
									name = "amountExp"
									data-ng-pattern = "/^\d+(\.\d{1,2})?$/"
									data-ng-required = "true"/>
								<span class = "help-block"
									  data-ng-show = "expndForm.amountExp.$touched && expndForm.amountExp.$error.required">
								      Amount field shouldn't be blank.
								</span>
								<span class = "help-block"
									  data-ng-show = "expndForm.amountExp.$error.pattern">
									  Amount is invalid.
								</span>
							</div>
						</div>

						<div class="form-group">
							<div class="col-sm-offset-2 col-sm-10">
								<label for="date">Date:</label>
								<div data-ng-class = "{
									 'has-error': expndForm.eDate.$touched && expndForm.eDate.$invalid,
									 'has-success': expndForm.eDate.$valid}"> 
								<input type="date" class="form-control" 
								data-ng-model="expenditure.eventDate"
								name = "eDate"
								data-ng-required = "true"/>
								<span class = "help-block"
								      data-ng-show = "expndForm.eDate.$touched && expndForm.eDate.$error.required">
								      Date field shouldn't be blank
								</span>
								</div>
							</div>
						</div>
						<div class="form-group">
						<div class="col-sm-offset-2 col-sm-10">
							<label for="description">Description:</label>
							<textarea class="form-control" rows="2" id="description"
								data-ng-model="expenditure.description"></textarea>
						</div>
					</div>
					</div>
				</div>
				<div class=col-md-6>
					<div class="form-group">
						<div class="col-sm-offset-2 col-sm-10">
							<label for="description">Amount Expended:</label>
							{{fundDetails.FUNDCYCLE.totalExpenditure}}
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-offset-2 col-sm-10">
							<label for="description">Total Balance:</label>
							{{fundDetails.FUNDCYCLE.totalBalance}}
						</div>
					</div>
					<div class="form-group">
							<div class="col-sm-offset-2 col-sm-10">
								<input type="submit" class="btn btn-primary btn-sm"
									data-ng-disabled="expndForm.$invalid"
									data-ng-click = "submit('expenditure')"
									value="{{!expenditure.expndId? 'Add' : 'Update'}}">
								<button type="button" data-ng-click="getFundDetails()"
									class="btn btn-warning btn-sm"
									data-ng-disabled="expndForm.$pristine">Reset Form
								</button>
							</div>
						</div>
				</div>
			</div>
			</form>
			<div class="panel-footer"></div>
		</div>
	</div>
	<div class="col-md-12">
		<div class="row">
			<div class="panel panel-info">
				<div class="panel-heading text-center">Expenditure Details</div>
				<div class="panel-body">
					<div class="table-responsive">
						<table class="table table-bordered">
							<thead>
								<tr>
									<th>Event Name</th>
									<th>Amount Expended</th>
									<th>Event Date</th>
									<th>Description</th>
									<th></th>
								</tr>
							</thead>
							<tbody>
								<tr data-ng-repeat = "expenditure in fundDetails.EXPENDITURES">
									<td>{{expenditure.eventName}}</td>
									<td>{{expenditure.amountExpended}}</td>
									<td>{{expenditure.eventDate | date : "fullDate"}}</td>
									<td>{{expenditure.description}}</td>
									<td>
									  <button type="button" data-ng-click="edit('expenditure',expenditure.expndId)" class="btn btn-success custom-width">Edit</button>  
									  <button type="button" data-ng-really-message="Do you really want to delete it?" data-ng-really-click="remove('expenditure',expenditure.expndId)" class="btn btn-danger custom-width">Remove</button>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div class="panel-footer"></div>
			</div>
		</div>
	</div>
</div>