<div class="row container-fluid">
	<div class="col-md-12">
		<div class="row">
			<div class="col-md-5">
				<div class="panel panel-primary">
					<div class="panel-heading text-center">Fund Cycle Status</div>
					<div class="panel-body">
						<div class="col-md-12">
							<div class="col-md-6">Start Date :</div>
							<div class="col-md-6">
								<label>{{fundDetails.FUNDCYCLE.startDate | date :
									'dd-MMM-y'}}</label>
							</div>
						</div>
						<div class="col-md-12">
							<div class="col-md-6">Amount/Person :</div>
							<div class="col-md-6">
								<label><i class="fa fa-inr"></i>{{fundDetails.FUNDCYCLE.sharePerPerson}}</label>
							</div>
						</div>
					</div>
					<div class="panel-footer">

						<div class="progress">

							<div id="fundProgressBarId"
								role="progressbar" aria-valuenow="100" aria-valuemin="0"
								aria-valuemax="100" style="width: 100%">
							</div>

						</div>
					</div>
				</div>
			</div>
			<div class="col-md-1"></div>
			<div class="col-md-5">
				<div class="panel panel-primary">
					<div class="panel-heading text-center">Start/Stop Funding</div>
					<div class="panel-body">
						<div class="col-md-12">
							<div class="col-md-offset-2 col-md-3">
								<button type="button" class="btn btn-info btn-sm"
									data-toggle="modal" data-target="#startCycle" data-ng-disabled = {{fundDetails.FUNDCYCLE.isInProgress}}>Start Funding</button>

							</div>
							<div class="col-md-3 col-md-offset-3 ">
								<button type="button" class="btn btn-info btn-sm"
									data-toggle="modal" data-target="#stopCycle" data-ng-disabled = {{!(fundDetails.FUNDCYCLE.isInProgress)}}>Stop Funding</button>

							</div>

						</div>
					</div>
					<div class="panel-footer"></div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-12">
		<div class="row">
			<div class="panel panel-info">
				<div class="panel-heading text-center">Add Funds</div>
				<form name="fundForm" data-ng-submit = "submit('fundsRecord')">
				<div class="panel-body">
					<div class="table-responsive">
						<table class="table table-bordered">
							<thead>
								<tr>
									<th>Employee ID</th>
									<th>Name</th>
									<!-- <th>Cycle Start Date</th> -->
									<th>Current Cycle Share</th>
									<th>Previous Balance</th>
									<th>Total Amount to be paid</th>
									<th>Amount Paid</th>
								</tr>
							</thead>
							<tbody>
								<tr>
								<td>
									<select class="form-control"
									    id="empId"
										data-ng-model="fundsRecord"
										data-ng-options="fundRecord.employee.userName for fundRecord in fundDetails.FUNDRECORDS" 
										name="uName"
										required="required"
										data-ng-selected = "true">
									</select>
									</td>
									<td>{{fundsRecord.employee.firstName}}</td>
									<!-- <td>{{fundsRecord.fundCycle.startDate | date :
										'dd-MMM-y'}}</td> -->
									<td>{{fundsRecord.fundCycle.sharePerPerson}}</td>
									<td>{{fundsRecord.amountRemained}}</td>
									<td>{{fundsRecord.amountNeedToPay}}</td>
									<td data-ng-class = "{
									'has-error': fundForm.pAmount.$touched && fundForm.pAmount.$error.required || fundForm.pAmount.$error.maxlength || fundForm.pAmount.$error.pattern,
									'has-success': fundForm.pAmount.$valid
									}"
									>
									<input type="text" class="form-control"
									    placeholder="Enter Actual paid amount"
										data-ng-model="fundsRecord.actualPaidAmount"
										name = "pAmount"
										data-ng-required = "true"
										data-ng-pattern="/^[0-9]+$/" 
										data-ng-maxlength="4"/>
										<span class = "help-block"
										data-ng-show = "fundForm.$dirty && fundForm.pAmount.$error.required">
										Paid amount shouldn't be blank.
										</span>
										<span class = "help-block"
										data-ng-show = "fundForm.pAmount.$error.pattern || fundForm.pAmount.$error.maxlength">
										Amount should be in digit and < <i class="fa fa-inr"></i>10000
										</span>
										 <input type="hidden" data-ng-model="fundsRecord.recordId" />
									</td>
									<td>
										<input type = "submit"
										    class="btn btn-primary btn-sm"
											data-ng-disabled = "fundForm.$invalid"
											value="{{!fundsRecord.recordId? 'Add' : 'Update'}}">
										<button type="button" data-ng-click="getFundDetails()" class="btn btn-warning btn-sm">Reset</button>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				</form>
				<div class="panel-footer">
					<h5>*(-) sign means balance and (+) sign means loan</h5>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-12">
		<div class="row">
			<div class="panel panel-info">
				<div class="panel-heading text-center">Fund Details</div>
				<div class="panel-body">
					<div class="table-responsive">
						<table class="table table-bordered">
							<thead>
								<tr>
									<th>Employee ID</th>
									<th>Name</th>
									<th>Payment Date</th>
									<th>Amount Paid</th>
									<th>Amount Remained</th>
									<th></th>
								</tr>
							</thead>
							<tbody>
								<tr data-ng-repeat="paidFundRecord in fundDetails.PAIDFUNDRECORDS">
									<td>{{paidFundRecord.employee.userName}}</td>
									<td>{{paidFundRecord.employee.firstName}}</td>
									<td>{{paidFundRecord.payDate | date : "fullDate"}}</td>
									<td><i class="fa fa-inr"></i>{{paidFundRecord.actualPaidAmount}}</td>
									<td><i class="fa fa-inr"></i>{{paidFundRecord.amountRemained}}</td>
									<td>
									  <button type="button" data-ng-click="edit('fundsRecord',paidFundRecord.recordId)" class="btn btn-success custom-width" data-ng-disabled = {{!(fundDetails.FUNDCYCLE.isInProgress)}}>Edit</button>  
									  <button type="button" data-ng-really-message="Do you really want to delete it?" data-ng-really-click="remove('fundsRecord',paidFundRecord.recordId)" class="btn btn-danger custom-width" data-ng-disabled = {{!(fundDetails.FUNDCYCLE.isInProgress)}}>Remove</button>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div class="panel-footer"></div>
			</div>
		</div>
	</div>
</div>
<!-- start fund cycle Modal -->
<div id="startCycle" class="modal fade" role="dialog">
	<div class="modal-dialog modal-sm">
		<!-- Modal content-->
		<div class="modal-content">
		<form name="startForm">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title text-center">Fund Cycle Details</h4>
			</div>
			<div class="fund-modal-body form-horizontal">
				<div class="form-group">
					<label class="control-label col-sm-4">Start Date :</label>
					<div class="col-sm-7"  data-ng-class = "{
					'has-error': startForm.sDate.$touched && startForm.sDate.$invalid, 
					'has-success' : startForm.sDate.$valid}">
						<input type="date" data-ng-model="fundsCycle.startDate"
							class="form-control" placeholder="mm/dd/yyyy" name = "sDate" data-ng-required = "true"/>
							<span class = "help-block" data-ng-show = "startForm.sDate.$touched && startForm.sDate.$error.required">Start Date is required.</span>
							<!-- <span class = "help-block" data-ng-show = "startForm.sDate.$error.pattern">Invalid date, it should be in format of 'mm/dd/yyyy'</span> -->
					</div>
				</div>
				<!-- class="form-control" placeholder="mm/dd/yyyy" name = "sDate" data-ng-required = "true" data-ng-pattern = "/^(0?[1-9]|1[012]){1,2}/(0?[1-9]|[12][0-9]|3[01]){1,2}/((19|20)\\d\\d){4,4}$/"/> -->
				<div class="form-group">
					<label class="control-label col-sm-4">Amount/Person</label>
					<div class="col-sm-7"  data-ng-class = "{
					'has-error': startForm.spp.$error.pattern || startForm.spp.$touched && startForm.spp.$invalid, 
					'has-success' : startForm.spp.$valid}">
						<input type="text" data-ng-model="fundsCycle.sharePerPerson"
							class="form-control"  name = "spp" data-ng-required = "true" data-ng-pattern = "/^\d+(\.\d{1,2})?$/"/>
							<span class = "help-block" data-ng-show = "startForm.spp.$touched && startForm.spp.$error.required">Amount is required.</span>
							<span class ="help-block" data-ng-show = "startForm.$error.pattern">Invalid Amount!</span>
					</div>
				</div>

			</div>
			<div class="fund-modal-footer">
				<button type="button" class="btn btn-info btn-sm"
					data-dismiss="modal" data-ng-click="startFundCycle()" data-ng-disabled = "startForm.$invalid">Start
					Fund Cycle</button>
			</div>
			</form>
		</div>
	</div>
</div>
<!-- start fund cycle modal ends here -->
<!-- stop fund cycle Modal -->
<div id="stopCycle" class="modal fade" role="dialog">
	<div class="modal-dialog modal-sm">
		<!-- Modal content-->
		<div class="modal-content">
		<form name = "endForm">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title text-center">Fund Cycle Details</h4>
			</div>
			<div class="fund-modal-body form-horizontal">
				<div class="form-group">
					<label class="control-label col-sm-4">Start Date :</label>
					<div class="col-sm-7">
						<label>{{fundDetails.FUNDCYCLE.startDate | date :
							'dd-MMM-y'}}</label>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-4">Amount/Person</label>
					<div class="col-sm-7">
						<label>{{fundDetails.FUNDCYCLE.sharePerPerson}}</label>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-4">End Date :</label>
					<div class="col-sm-7" data-ng-class = "{
					'has-error':endForm.eDate.$touched && endForm.eDate.$invalid,
					'has-success':endForm.eDate.$invalid
					}">
						<input type="date" data-ng-model="fundDetails.FUNDCYCLE.endDate"
							class="form-control" name="eDate" data-ng-required = "true"/>
							<span class = "help-block" data-ng-show = "endForm.eDate.$touched && endForm.eDate.$error.required">End Date is required.</span>
					</div>
				</div>
			</div>
			<div class="fund-modal-footer">
				<button type="button" class="btn btn-info btn-sm"
					data-dismiss="modal"
					data-ng-click="stopFundCycle(fundDetails.FUNDCYCLE)" data-ng-disabled = "endForm.$invalid">Stop
					Fund Cycle</button>
			</div>
			</form>
		</div>
	</div>
</div>
<!-- stop fund cycle modal ends here -->