<div class="row container-fluid">
	<div class="col-md-12">
	<div class = "row">
		<div class="panel panel-info">
			<div class="panel-heading text-center">View Report</div>
			<div class="panel-body">
				<form class="form-inline" name="rForm">
				   <div class="form-group">
                    <fieldset class="scheduler-border">
                      <legend class="scheduler-border">Report By</legend>
                        <input type="radio" data-ng-model="reportInput.isChecked" data-ng-value = "false" data-ng-click = "reportBy('employeeId')">Employee Id
                        <input type="radio" data-ng-model="reportInput.isChecked" data-ng-value = "true" data-ng-click = "reportBy('fundCycle')">Fund Cycle
                    </fieldset>
                    </div>
				    <div class="form-group" id = "empIdField" data-ng-hide = "reportInput.isChecked">
						<label for="empId">Employee ID:</label> 
						<select class = "form-control" data-ng-model = "reportInput.employee" data-ng-options = "employee.userName for employee in fundDetails.EMPLOYEES"></select>
					</div>
					<div class="form-group">
						<label>From Date:</label>
						 
						<input type="date" 
						class="form-control" 
						data-ng-model = "reportInput.fromDate"
						name = "fDate"
						data-ng-required = "true"/>
						
						
					</div>
					<div class="form-group">
						<label for="pwd">To Date:</label> 
						<input type="date" 
						class="form-control" 
						data-ng-model = "reportInput.toDate"
						name = "tDate"
						data-ng-required = "true"/>
						</div>
					
					<button class="btn-sm btn-primary" data-ng-click = "getReport()"
					data-ng-disabled = "rForm.$invalid"><span class="glyphicon glyphicon-search"></span> View Reports</button>
				</form>
			</div>
			<div class="panel-footer"></div>
		</div>
		</div>
	</div>
	<div class="col-md-12">
		<div class="row">
			<div class="panel panel-info">
				<div class="panel-heading text-center">Report</div>
				<div class="panel-body">
					<div class="table-responsive">
						<table class="table table-bordered">
							<thead>
								<tr>
									<th>Employee ID</th>
									<th>Name</th>
									<th>Amount Paid</th>
									<th>Amount Remained</th>
									<th>Payment Date</th>
									<th>Fund Cycle Start Date</th>
									<th>Fund Cycle End Date</th>
								</tr>
							</thead>
							<tbody>
								<tr data-ng-repeat = "report in reports">
									<td>{{report.employee.userName}}</td>
									<td>{{report.employee.firstName}}</td>
									<td>{{report.actualPaidAmount}}</td>
									<td>{{report.amountRemained}}</td>
									<td>{{report.payDate | date : "fullDate"}}</td>
									<td>{{report.fundCycle.startDate | date : "fullDate"}}</td>
									<td>{{report.fundCycle.endDate | date : "fullDate"}}</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div class="panel-footer"></div>
			</div>
		</div>
	</div>
</div>
